.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 50px;
    background-color: #ef536b;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 10px;
    float: left;
    border-radius: 5px;
    margin-bottom: 100px;
}
.title {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-icon {
    margin-right: 5px;
}

.card {
    background-color: #F8F8FF;
    border-left: 5px solid red;
    margin: 25px 120px 25px 50px;
    align-items: center;
    justify-content: center;
    min-width: 350px;
}

.card-header {
    background-color: #FFFFFF;
    padding: 10px;
}

.card-title {
    color: red;
    font-size: 24px;
    margin: 0;
}

.card-body {
    padding: 10px;
    color: #000000;
    min-width: 300px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

